@{
    //Proligence Resource Manifest?
    //Script.Require("jQuery_SignalR").AtHead();
    Script.Require("jQuery_SignalR_Hubs").AtHead();
    //Script.Include("jquery.signalR-2.2.0.min.js").AtHead();
    //Script.Include("~/signalr/hubs").AtHead();
    //Script.Include("proligence-signalr-common.js").AtHead();
    //Script.Include("samples/signalr.samples.js").AtFoot();
    //Script.Include("jquery-1.6.4.min.js").AtHead();
    //Script.Include("jquery.signalR-2.2.0.js").AtFoot();
    //Script.Include("/signalr/hubs").AtFoot();
    Script.Include("Messages.js").AtFoot();
}

<div class="row">
    <div class="col-md-12">
        <div id="messagesTable">
        </div>
    </div>
</div>
